<h1><%= @house.name %></h1>
<% @house.students.each do |student| %>
<div class="student">
  <h2><%= link_to student.name, house_student_path(@house, student) %></h2>
  <img src=<%=student.img_url %>>
</div>
<% end %>
